<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact us</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700&display=swap" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <link rel="stylesheet" href="./css/footer.css" />
    <link rel="stylesheet" href="./css/reset.css" />
    <link rel="stylesheet" href="./css/header.css" />
    <link rel="stylesheet" href="./css/contacts.css" />
</head>

<body>
    <header id="header">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a href="./index.html" class="logo__link"><img src="./images/logo.svg" alt="Logo"
                        class="navbar-brand" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navContent">
                    <ul class="navbar-nav mr-auto mb-3 mb-lg-0">
                        <li class="nav-item">
                            <a href="./index.html" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Company Profile</a>
                        </li>
                        <li class="nav-item">
                            <a href="./lemon.html" class="nav-link">Products</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Services</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">R & D</a>
                        </li>
                        <li class="nav-item">
                            <a href="./contacts.html" class="nav-link">Contact</a>
                        </li>
                    </ul>
                    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                        <input class="header__search" type="search" class="form-control form-control-dark"
                            placeholder="Search" aria-label="Search" />
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <main id="main">
        <section id="background">
        </section>
        <section id="content">
            <div class="wrapper">
                <div class="wrapper__form" id="app">
                    <div class="form__caption">
                        <h1>Contact us</h1>
                        <table class="cart">
                            <h2 v-if="cart!=0">Cart</h2>
                            <tbody>
                                <tr v-if="cart" v-for="c in cart">
                                    <td><img :src="'./img/'+c.image" alt=""></td>
                                    <td>{{c.title}}</td>
                                    <td>{{c.short_text}}</td>
                                    <td>
                                        <button v-on:click="removeFromCart(c.id)">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                                fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                                                <path
                                                    d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                <path
                                                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                            </svg>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                        <div class="caption__union">
                            <img class="union__thumb" src="./images/union.svg" alt="union" />
                        </div>
                    </div>
                    <div class="form__body">
                        <form action="!#" method="POST" @submit.prevent="makeOrder()" id="form" v-if="!fieldsVisible">
                            <div class="body__left">
                                <div class="left__input input-1">
                                    <h2>Name *</h2>
                                    <input v-model="contactFields.name" required type="text" name="firstname"
                                        id="firstname" onchange="toggleButton()">
                                </div>
                                <div class=" left__input input-2">
                                    <h2>Company Name</h2>
                                    <input v-model="contactFields.companyName" type="text" name="companyName">
                                </div>
                                <div class="left__input input-3">
                                    <h2>Position</h2>
                                    <input v-model="contactFields.position" type="text" name="position">
                                </div>
                                <div class="left__input input-4">
                                    <h2>City</h2>
                                    <input v-model="contactFields.city" type="text" name="city">
                                </div>
                                <div class="left__input input-5">
                                    <h2>Country</h2>
                                    <input v-model="contactFields.country" type="text" name="country">
                                </div>
                                <div class="left__input input-6">
                                    <h2>Telephone</h2>
                                    <input v-model="contactFields.telephone" type="tel" name="tel">
                                </div>
                                <div class="left__input input-7">
                                    <h2>Email *</h2>
                                    <input v-model="contactFields.email" required type="email" name="email" id="email"
                                        onchange="toggleButton()">
                                </div>
                            </div>
                            <div class="body__right">
                                <h2>You are a</h2>
                                <select name="form_select" id="form__select">
                                    <option value="option_1">seed producer</option>
                                    <option value="option_2">seed producer</option>
                                    <option selected="selected" value="option_3">seed producer</option>
                                    <option value="option_4">seed producer</option>
                                    <option value="option_5">seed producer</option>
                                </select>
                                <div class="right__input input-1">
                                    <h2>If other, please specify</h2>
                                    <input type="text" name="other" class="input__other" onChange="toggleInputOther()">
                                </div>
                                <div class="right__input textarea-1">
                                    <h2>You are interested in</h2>
                                    <textarea type="text" name="interest" class="textarea"></textarea>
                                </div>
                                <div class="right__input input-2">
                                    <h2>Please type this code</h2>
                                    <div class="submit__field">
                                        <div class="captcha__field">
                                            <img src="./images/captcha.png" alt="captcha" class="captcha__thumb">
                                            <input required type="text" name="captcha" class="input__captcha">
                                        </div>
                                        <div class="submit__button">
                                            <button type="submit" id="submitButton" disabled class="disabled">Send
                                                Message</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="contact__fields" v-if="fieldsVisible">
                        <div class="fields__item name">
                            <h2>Name:</h2>
                            <h2>{{contactFields.name}}</h2>
                        </div>
                        <div class="fields__item company-name">
                            <h2>Company Name:</h2>
                            <h2>{{contactFields.companyName}}</h2>
                        </div>
                        <div class="fields__item position">
                            <h2>Position:</h2>
                            <h2>{{contactFields.position}}</h2>
                        </div>
                        <div class="fields__item city">
                            <h2>City:</h2>
                            <h2>{{contactFields.city}}</h2>
                        </div>
                        <div class="fields__item country">
                            <h2>Country:</h2>
                            <h2>{{contactFields.country}}</h2>
                        </div>
                        <div class="fields__item telephone">
                            <h2>Telephone:</h2>
                            <h2>{{contactFields.telephone}}</h2>
                        </div>
                        <div class="fields__item email">
                            <h2>Email:</h2>
                            <h2>{{contactFields.email}}</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrapper__address">
                <div class="address__info">
                    <h2>Our Address</h2>
                    <hr>
                    <ul>
                        <li>AGRIDERA Seeds & Agriculture Ltd.</li>
                        <li>P.O Box 103,</li>
                        <li>Gedera 70750, Israel.</li>
                        <li>Telephone: <span id="tel">+972 8 944 9222</span></li>
                    </ul>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="floor-1">
            <div class="wrapper__floor-1">
                <div class="footer__navbar">
                    <ul>
                        <li class="footer-navbar__item"><a href="./index.html" class="footer__link">PROFILE</a></li>
                        <li class="footer-navbar__item"><a href="#!" class="footer__link">MANAGEMENT</a></li>
                        <li class="footer-navbar__item"><a href="./products.html" class="footer__link">PRODUCTS</a></li>
                        <li class="footer-navbar__item"><a href="#!" class="footer__link">R&D</a></li>
                        <li class="footer-navbar__item"><a href="#!" class="footer__link">LINKS</a></li>
                        <li class="footer-navbar__item"><a href="#!" class="footer__link">SITEMAP</a></li>
                        <li class="footer-navbar__item"><a href="./contacts.html" class="footer__link">CONTACT</a></li>
                    </ul>
                </div>
                <div class="footer__social">
                    <ul>
                        <li class="footer-social__item"><a href="#!"><img src="./images/Ico_in.svg" alt="ico-in"></a>
                        </li>
                        <li class="footer-social__item"><a target="_blank"
                                href="https://www.instagram.com/mariya.sergeevnaa/"><img src="./images/Ico_inst.svg"
                                    alt="ico-inst"></a></li>
                        <li class="footer-social__item"><a href="#!"><img src="./images/Ico_tube.svg"
                                    alt="ico-tube"></a></li>
                        <li class="footer-social__item"><a href="#!"><img src="./images/Ico_tw.svg" alt="ico-tw"></a>
                        </li>
                        <li class="footer-social__item"><a href="#!"><img src="./images/Ico_fb.svg" alt="ico-fb"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="floor-2">
            <h3>AGRIDERA SEEDS & AGRICULTURE LTD. © 2020</h3>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="./script/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
</body>

</html>